.page {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-block-size: 100vh;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 22px;
  color: var(--corner-color);
  font-size: 18px;
  line-height: 139%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__rec::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--corner-color);
  box-shadow: 0 0 4px 2px var(--corner-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background: transparent;
  border: 1px solid transparent;
  padding: 1.5px 13px;
  align-items: center;
  color: var(--menu-color);
  text-transform: lowercase;
  line-height: 100%;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid color-mix(in srgb, var(--menu-color) 40%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  pointer-events: none;
}

.header__title,
.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  align-self: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-title-color);
}

.content {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content-section__title {
  color: var(--menu-color);
  font-size: 18px;
  font-weight: bold;
  line-height: 130%;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 130%;
}

.card__title_normal {
  font-weight: normal;
}

.card__text {
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);
  
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card__link:hover {
  border-bottom: 1px solid currentColor;
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid currentColor;
}

.content-section__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery__title {
 font-size: 18px;
}

.gallery__list {
  display: grid;
  gap: 10px;
}

.gallery__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
  display: grid;
  place-items: center;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 26px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 20px;
    right: 32px;
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    inline-size: 50%;
    justify-self: end;
  }

  .content {
    padding: 60px 20px;
    gap: 80px;
  }

  .content-section {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .content-section_grid {
    grid-template-columns: 1fr;
  }

  .content-section_grid .content-section__title {
    max-inline-size: calc(33% - 7px);
  }

  .content-section_grid .content-section__list {
    grid-column: 1 / -1;
  }

  .content-section__list {
    grid-column: 2;
  }

  .content-section_wide .content-section__cards {
    grid-column: 2;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(2) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: span 2;
  }

  .footer {
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content-section_grid .content-section__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content-section {
    grid-template-columns: 1fr 2.06fr;
  }

  .content-section_grid {
    grid-template-columns: 1fr;
  }

  .content-section_grid .content-section__title {
    max-inline-size: calc(33.33% - 13px);
    margin-block-end: 20px;
  }
  
}
